[data-fade-in] {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }
  [data-fade-in].fade-in {
    -webkit-transition: .4s linear;
    transition: .4s linear;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  text-align: left; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html {
  height: 100%;
  font-size: 1vw; }
  @media (min-width: 576px) {
    html {
      font-size: 7px; } }
  @media (min-width: 768px) {
    html {
      font-size: 7.2px; } }
  @media (min-width: 992px) {
    html {
      font-size: 9.6px; } }
  @media (min-width: 1500px) {
    html {
      font-size: 15px; } }

body {
  overflow-x: hidden;
  height: 100%;
  font-size: 16px; }

#confetti {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; }

#content {
  z-index: 1;
  position: relative; }

a {
  color: #000;
  text-decoration: none; }
  a:hover, a:focus, a:active, a.active {
    text-decoration: none;
    color: #333; }

.container {
  max-width: 92%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3.25rem;
  padding-left: 3.25rem;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (min-width: 1500px) {
    .container {
      max-width: 1500px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }

@media (max-width: 991px) {
  .hide-below-md {
    display: none !important; } }

@media (max-width: 767px) {
  .hide-below-sm {
    display: none !important; } }

@media (min-width: 768px) {
  .hide-above-md {
    display: none !important; } }

@media (min-width: 576px) {
  .hide-above-sm {
    display: none !important; } }

.img--fluid {
  max-width: 100%;
  height: auto; }

::-moz-selection {
  background: #aadbff;
  text-shadow: none; }

::selection {
  background: #aadbff;
  text-shadow: none; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #aadbff; }

.transition-element {
  position: absolute;
  -webkit-transition: none !important;
  transition: none !important;
  pointer-events: none; }
  .transition-element.grid-item__image {
    border-radius: 95% 81% 100% 70% / 100% 100% 80% 79%; }

@font-face {
  font-family: 'sweetness';
  src: url("sweetness.4493a32ba07ee4d63fe35fe389abab8f.woff2") format("woff2"), url("sweetness.3156250df06f20f3e2f87e701701dab9.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2017 Schwartzco Inc.
        License: 1711-TFXKCF
*/
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-BlackItalic-Web.e5689f7568ad8a41379ad49dd86f7a7b.eot");
  src: url("AtlasGrotesk-BlackItalic-Web.e5689f7568ad8a41379ad49dd86f7a7b-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-BlackItalic-Web.e6e410c9c9646abb905b68f710211c81.woff2") format("woff2"), url("AtlasGrotesk-BlackItalic-Web.c8c78ee1eacab926b1e312ab8e36c71e.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal; }

.AtlasGrotesk-BlackItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-Black-Web.cf81470a43baf20a659d863a0d9a176b.eot");
  src: url("AtlasGrotesk-Black-Web.cf81470a43baf20a659d863a0d9a176b-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-Black-Web.d550183442f2beb3c4269ed424b86e79.woff2") format("woff2"), url("AtlasGrotesk-Black-Web.5549baf0298edf384a3071bedd4fa46d.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal; }

.AtlasGrotesk-Black-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-BoldItalic-Web.3175c6c18080fd2b86349dce330f67a2.eot");
  src: url("AtlasGrotesk-BoldItalic-Web.3175c6c18080fd2b86349dce330f67a2-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-BoldItalic-Web.4e82e235c71b48142ab1489d45c2060f.woff2") format("woff2"), url("AtlasGrotesk-BoldItalic-Web.bb1a77b884f80d4a3dc49c710c123237.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal; }

.AtlasGrotesk-BoldItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-Bold-Web.5e4563e61f99c969e759ee803a946b0d.eot");
  src: url("AtlasGrotesk-Bold-Web.5e4563e61f99c969e759ee803a946b0d-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-Bold-Web.c0b898974539868c66e7ed0f21eeecf9.woff2") format("woff2"), url("AtlasGrotesk-Bold-Web.d30b347950720f5d1c562def370a223c.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

.AtlasGrotesk-Bold-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-MediumItalic-Web.80cb96705be3ae11c61dc0eae958ff9f.eot");
  src: url("AtlasGrotesk-MediumItalic-Web.80cb96705be3ae11c61dc0eae958ff9f-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-MediumItalic-Web.58b69343509ddfab512f9670b6348f8a.woff2") format("woff2"), url("AtlasGrotesk-MediumItalic-Web.8047c6cb303334bd5d7b6e222cd75dd5.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal; }

.AtlasGrotesk-MediumItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-Medium-Web.947626722bf84511578694cb2c111ef5.eot");
  src: url("AtlasGrotesk-Medium-Web.947626722bf84511578694cb2c111ef5-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-Medium-Web.4ca69f5cd2da185170474bb46229ee9b.woff2") format("woff2"), url("AtlasGrotesk-Medium-Web.f570753aff0beb1db882f332e5e883ef.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-RegularItalic-Web.6205421b1f39bc4e27f0dd7f69dc6689.eot");
  src: url("AtlasGrotesk-RegularItalic-Web.6205421b1f39bc4e27f0dd7f69dc6689-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-RegularItalic-Web.fbc04527c9d403fc644bf3005425a7c4.woff2") format("woff2"), url("AtlasGrotesk-RegularItalic-Web.c227d2fa0f6782f84c4543bafd79b1a6.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

.AtlasGrotesk-RegularItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-Regular-Web.ef8a84bda8b087a2d083c69b9544d16f.eot");
  src: url("AtlasGrotesk-Regular-Web.ef8a84bda8b087a2d083c69b9544d16f-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-Regular-Web.298d7f37a6745d5caa70e661b515760b.woff2") format("woff2"), url("AtlasGrotesk-Regular-Web.4a76ac4fcbabd2fc7ae58190abf4d264.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-LightItalic-Web.bb07127d60be55c12c43e736c3785f27.eot");
  src: url("AtlasGrotesk-LightItalic-Web.bb07127d60be55c12c43e736c3785f27-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-LightItalic-Web.3630e9aab1867cb7c8df9ceecda5d80d.woff2") format("woff2"), url("AtlasGrotesk-LightItalic-Web.434544e228a911c996d9c9988bbca2ea.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal; }

.AtlasGrotesk-LightItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-Light-Web.fcc365acee16594e42cae62dea6d9477.eot");
  src: url("AtlasGrotesk-Light-Web.fcc365acee16594e42cae62dea6d9477-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-Light-Web.095032eb3ef4b3fab7f358b5a6c5acb0.woff2") format("woff2"), url("AtlasGrotesk-Light-Web.18f0799dfd7907b772eb049639df3062.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-ThinItalic-Web.e6c507669ed86670940f80efda9ddefd.eot");
  src: url("AtlasGrotesk-ThinItalic-Web.e6c507669ed86670940f80efda9ddefd-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-ThinItalic-Web.f6ee6d123d60dbfdee7b01f277e5efa4.woff2") format("woff2"), url("AtlasGrotesk-ThinItalic-Web.1e65ff07a602472c78a80163956e65f7.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-stretch: normal; }

.AtlasGrotesk-ThinItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url("AtlasGrotesk-Thin-Web.dbf4eb6621e61459db328085d846adac.eot");
  src: url("AtlasGrotesk-Thin-Web.dbf4eb6621e61459db328085d846adac-1.eot#iefix") format("embedded-opentype"), url("AtlasGrotesk-Thin-Web.e64aafad6f855e7bf863e346be4b52f8.woff2") format("woff2"), url("AtlasGrotesk-Thin-Web.d5994a47e62f446e3d345308c84409ae.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal; }

.AtlasGrotesk-Thin-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight: 100;
  font-style: normal;
  font-stretch: normal; }

body {
  font-family: "Atlas Grotesk Web", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400; }

.header-text {
  font-family: 'sweetness';
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 10rem; }
  @media (max-width: 991px) {
    .header-text {
      font-size: 12rem; } }
  @media (max-width: 767px) {
    .header-text {
      font-size: 15rem; } }
  .header-text--center {
    text-align: center; }
  .header-text--medium {
    font-size: 6rem;
    line-height: 1.2; }
    @media (max-width: 991px) {
      .header-text--medium {
        font-size: 9rem; } }
  .header-text--small {
    font-size: 2.2rem;
    line-height: 1; }
    @media (max-width: 991px) {
      .header-text--small {
        font-size: 7.2rem;
        margin-bottom: 1rem; } }
  .header-text--margin {
    margin-top: 6.5rem; }
    @media (max-width: 991px) {
      .header-text--margin {
        margin-top: 13rem; } }
  .header-text a {
    color: #aadbff; }

.paragraph, .paragraph p {
  font-size: 1.4rem;
  font-weight: normal;
  color: #B0B0B0;
  line-height: 1.4; }
  @media (max-width: 991px) {
    .paragraph, .paragraph p {
      font-size: 18px; } }
  .paragraph a, .paragraph p a {
    color: #aadbff; }
    .paragraph a:hover, .paragraph p a:hover {
      text-decoration: underline; }

.link {
  line-height: 22px;
  font-size: 22px; }
  .link--active {
    color: #aadbff; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem;
  text-align: center; }
  .footer__bunting {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1.5rem;
    padding-bottom: 24%; }
    .footer__bunting .img--fluid {
      width: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .footer__bunting .img--fluid.flags {
        top: 2rem; }
    @media (max-width: 991px) {
      .footer__bunting {
        overflow: hidden;
        padding-bottom: 34%;
        margin: 8rem auto 7rem auto;
        position: relative;
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        width: 91%; }
        .footer__bunting .img--fluid {
          width: 233%;
          max-width: 233%;
          left: -131%; }
          .footer__bunting .img--fluid.flags {
            top: 4rem; } }
  .footer__links {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: -4.55rem; }
    @media (max-width: 991px) {
      .footer__links {
        margin-top: -9.1rem; } }
    .footer__links .link {
      font-size: 1.4rem;
      font-weight: normal;
      color: #B0B0B0;
      margin-right: 3.25rem; }
      @media (max-width: 991px) {
        .footer__links .link {
          font-size: 18px; } }
      .footer__links .link:hover {
        color: #aadbff;
        text-decoration: underline; }
      .footer__links .link:last-child {
        margin-right: 0; }
  .footer__copyright {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0;
    margin-top: 6.5rem;
    margin-bottom: 3rem; }
    @media (max-width: 991px) {
      .footer__copyright {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .footer__copyright {
        margin-top: 13rem; } }

.search {
  width: 100%;
  border: none;
  outline: none; }
  .search::-webkit-input-placeholder {
    color: #111111;
    line-height: 1.16; }
  .search:-ms-input-placeholder {
    color: #111111;
    line-height: 1.16; }
  .search::-ms-input-placeholder {
    color: #111111;
    line-height: 1.16; }
  .search::placeholder {
    color: #111111;
    line-height: 1.16; }
  .search:focus::-webkit-input-placeholder {
    color: transparent; }
  .search:focus:-ms-input-placeholder {
    color: transparent; }
  .search:focus::-ms-input-placeholder {
    color: transparent; }
  .search:focus::placeholder {
    color: transparent; }
  @media (max-width: 991px) {
    .search {
      font-size: 9rem; } }

.submit--hidden {
  display: none; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem; }
  .form__field {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .form #thwp {
    display: none; }
  .form--mail {
    margin-top: 6.5rem; }
    @media (max-width: 991px) {
      .form--mail {
        margin-top: 13rem; } }
    .form--mail .mc-field-group {
      width: 30vw;
      margin: 2.9rem auto 0; }
      .form--mail .mc-field-group input {
        font-size: 1.4rem;
        border: none;
        padding: 0.8rem;
        width: 100%; }
        .form--mail .mc-field-group input::-webkit-input-placeholder {
          color: #B0B0B0; }
        .form--mail .mc-field-group input:-ms-input-placeholder {
          color: #B0B0B0; }
        .form--mail .mc-field-group input::-ms-input-placeholder {
          color: #B0B0B0; }
        .form--mail .mc-field-group input::placeholder {
          color: #B0B0B0; }
      @media (max-width: 991px) {
        .form--mail .mc-field-group {
          width: auto; }
          .form--mail .mc-field-group input {
            font-size: 5.4rem; } }
      .form--mail .mc-field-group:after {
        content: "";
        display: block;
        margin-bottom: 0 !important; }
    .form--mail .response {
      text-align: center;
      margin-top: 6.5rem; }
      @media (max-width: 991px) {
        .form--mail .response {
          margin-top: 13rem; } }
      .form--mail .response#mce-success-response {
        font-family: 'sweetness';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.2rem;
        line-height: 0.8; }
        @media (max-width: 991px) {
          .form--mail .response#mce-success-response {
            font-size: 6.2rem; } }
      .form--mail .response#mce-error-response {
        font-size: 1.4rem;
        font-weight: normal;
        color: #B0B0B0; }
        @media (max-width: 991px) {
          .form--mail .response#mce-error-response {
            font-size: 18px; } }
        .form--mail .response#mce-error-response a {
          color: #aadbff; }
          .form--mail .response#mce-error-response a:hover {
            text-decoration: underline; }
    .form--mail input[type=image] {
      width: 18rem;
      margin: 6.5rem auto;
      display: block; }
      @media (max-width: 991px) {
        .form--mail input[type=image] {
          width: 50rem;
          margin: 13rem auto; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem;
  margin-top: 6.5rem; }
  @media (max-width: 991px) {
    .about {
      margin-top: 13rem; } }
  .about:first-of-type {
    margin-top: 0; }
  .about__image {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
    @media (max-width: 991px) {
      .about__image {
        display: none; } }
    .about__image img {
      max-width: 100%;
      height: auto; }
  .about__details {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    @media (min-width: 768px) {
      .about__details {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
  @media (max-width: 991px) {
    .about__body {
      margin-top: 3rem; } }

.blob {
  border-radius: 95% 81% 100% 70% / 100% 100% 80% 79%;
  width: 100%;
  height: auto;
  -webkit-transition: all 2s;
  transition: all 2s; }
  .blob:hover {
    border-radius: 90% 86% 95% 80% / 80% 99% 82% 83%; }
  .blob--reveal {
    border-radius: 0 !important; }

.line, .form--mail .mc-field-group:after {
  background: url("5b921ef757590c7f7aa16f92a258729e-2720.png");
  background-repeat: repeat-x;
  height: 4px;
  border-radius: 0 50px 50px 0 / 0 50% 50% 0;
  background-size: cover;
  border: none;
  margin-bottom: 6.5rem;
  margin-top: 0;
  clear: both;
  position: relative; }
  @media (max-width: 991px) {
    .line, .form--mail .mc-field-group:after {
      margin-bottom: 13rem; } }
  .line--above {
    margin-bottom: 1rem; }
  .line--bee-right:after, .line--bee-left:after {
    content: "";
    position: absolute;
    background: url("934501b2097bacb69d0424060a7d17b7-53.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: -13px;
    width: 28px;
    height: 20px; }
    @media (min-width: 768px) {
      .line--bee-right:after, .line--bee-left:after {
        top: -18px;
        width: 90px;
        height: 27px; } }
  .line--bee-right:after {
    right: 0;
    left: auto;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1); }

.soundcloud-button {
  height: 24px;
  margin-right: 15px; }
  @media (max-width: 991px) {
    .soundcloud-button {
      height: 5.5rem;
      margin-right: 1rem; } }

.section {
  margin-top: 6.5rem; }
  @media (max-width: 991px) {
    .section {
      margin-top: 13rem; } }
  @media (max-width: 991px) {
    .section:first-child {
      margin-top: 10.4rem; } }
  .section__header {
    margin: -1.6rem 3.25rem 4.9rem 3.25rem;
    text-align: center; }
    @media (max-width: 991px) {
      .section__header {
        margin: -1.6rem 3.25rem 9.4rem 3.25rem; } }
  .section .view-all {
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0;
    float: right;
    line-height: 3.2rem; }
    @media (max-width: 991px) {
      .section .view-all {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .section .view-all {
        line-height: 7.2rem; } }
    .section .view-all:hover {
      color: #aadbff;
      text-decoration: underline; }
  .section .grid {
    margin-bottom: 3.5rem; }
    @media (max-width: 991px) {
      .section .grid {
        margin-bottom: 10rem; } }
  .section--search {
    margin-top: 10rem; }
    .section--search .line, .section--search .form--mail .mc-field-group:after, .form--mail .section--search .mc-field-group:after {
      margin-bottom: 10rem; }

.collaborators {
  -webkit-column-count: 3;
          column-count: 3;
  margin-top: 6.5rem; }
  @media (max-width: 991px) {
    .collaborators {
      margin-top: 13rem; } }
  .collaborators .collaborator {
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0;
    margin-left: 5.6rem;
    margin-bottom: 1.1rem; }
    @media (max-width: 991px) {
      .collaborators .collaborator {
        font-size: 18px; } }
    .collaborators .collaborator:hover {
      color: #aadbff;
      text-decoration: underline; }

.partners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 6.5rem 0; }
  @media (max-width: 991px) {
    .partners__wrap {
      margin: 6.5rem 0 13rem; } }
  @media (max-width: 767px) {
    .partners__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .partners__wrap .partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .partners__wrap .partner__image {
    width: 21rem; }
    .partners__wrap .partner__image:hover {
      -webkit-transform: scale(1.06);
              transform: scale(1.06); }
    @media (max-width: 767px) {
      .partners__wrap .partner__image {
        margin: 3rem 0;
        width: 56rem; } }

.partners__link {
  text-align: center; }
  .partners__link a {
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0; }
    @media (max-width: 991px) {
      .partners__link a {
        font-size: 18px; } }
    .partners__link a:hover {
      color: #aadbff;
      text-decoration: underline; }

.categories {
  margin-bottom: 4.9rem; }
  @media (max-width: 991px) {
    .categories {
      margin-top: 8.8rem;
      margin-bottom: 10.4rem; } }
  .categories .link {
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0;
    white-space: nowrap;
    margin-right: 3.5rem;
    line-height: 1;
    display: inline-block;
    margin-bottom: 1.6rem; }
    @media (max-width: 991px) {
      .categories .link {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .categories .link {
        margin-bottom: 4.6rem; } }
    .categories .link--active {
      color: #aadbff;
      font-weight: bold; }
    .categories .link:hover {
      color: #aadbff; }
    .categories .link.category--more {
      color: #B0B0B0 !important; }
      .categories .link.category--more:hover {
        color: #aadbff !important; }
  .categories .category--non-featured {
    display: none; }
  .categories--show-more .category--non-featured {
    display: inline-block; }
  .categories--show-more .category--more {
    display: none; }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem; }
  .feature--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .feature__content {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    @media (min-width: 768px) {
      .feature__content {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
  .feature__title {
    margin-bottom: 2.1rem; }
  .feature__subtitle {
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0; }
    @media (max-width: 991px) {
      .feature__subtitle {
        font-size: 18px; } }
    .feature__subtitle:hover {
      color: #aadbff;
      text-decoration: underline; }
    @media (max-width: 991px) {
      .feature__subtitle {
        margin-bottom: 10rem; } }
  .feature__image {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    @media (min-width: 768px) {
      .feature__image {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem;
  margin-bottom: -3rem; }

.pagination {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 3.25rem;
  font-family: sweetness;
  font-size: 3rem;
  margin-bottom: 3rem;
  line-height: 1; }
  @media (max-width: 991px) {
    .pagination {
      margin-top: 6.5rem; } }
  .pagination img {
    height: 2rem; }
  .pagination:hover img {
    -webkit-transform: rotate(32deg) translate(0.1rem, -0.15rem);
            transform: rotate(32deg) translate(0.1rem, -0.15rem); }
  .pagination span {
    display: none; }
  .pagination.loading a {
    display: none; }
  .pagination.loading span {
    display: inline; }

@media (max-width: 991px) {
  .grid.limit-6-4-4 .grid-item:nth-child(5), .grid.limit-6-4-4 .grid-item:nth-child(6), .grid.limit-3-4-4 .grid-item:nth-child(5), .grid.limit-3-4-4 .grid-item:nth-child(6) {
    display: none; } }

@media (min-width: 992px) {
  .grid.limit-3-4-4 .grid-item:nth-child(4), .grid.limit-3-4-4 .grid-item:nth-child(5), .grid.limit-3-4-4 .grid-item:nth-child(6) {
    display: none; } }

.grid-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3.25rem;
  padding-left: 3.25rem;
  margin-bottom: 3rem; }
  @media (min-width: 576px) and (max-width: 991px) {
    .grid-item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    .grid-item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (max-width: 991px) {
    .grid-item {
      margin-bottom: 6rem; } }
  .grid-item__image {
    width: 100%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    border-radius: 0; }
    .grid-item__image:hover, .grid-item__image:active {
      border-radius: 95% 81% 100% 70% / 100% 100% 80% 79%; }
  .grid-item__title {
    margin-top: 1.5rem;
    margin-bottom: 0; }
    @media (max-width: 991px) {
      .grid-item__title {
        margin-top: 3rem; } }
  .grid-item__subtitle {
    margin: 0;
    font-size: 1.4rem;
    font-weight: normal;
    color: #B0B0B0;
    margin-top: 0.2rem; }
    @media (max-width: 991px) {
      .grid-item__subtitle {
        font-size: 18px; } }

.entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .entry__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -3.25rem;
    margin-left: -3.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .entry__header .entry__title {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 3.25rem; }
      @media (max-width: 991px) {
        .entry__header .entry__title {
          margin-bottom: 6.5rem; } }
    .entry__header .entry__subtitle {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 0;
      font-size: 1.4rem;
      font-weight: normal;
      color: #B0B0B0; }
      @media (max-width: 991px) {
        .entry__header .entry__subtitle {
          font-size: 18px; } }
      .entry__header .entry__subtitle a {
        color: #aadbff; }
        .entry__header .entry__subtitle a:hover {
          text-decoration: underline; }
    .entry__header__image {
      padding: 6.5rem 0 0;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
      @media (max-width: 991px) {
        .entry__header__image {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%;
          padding: 13rem 0 0; } }
  .entry__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -3.25rem;
    margin-left: -3.25rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 6.5rem; }
    @media (max-width: 991px) {
      .entry__body {
        margin-top: 13rem; } }
    .entry__body__text {
      font-size: 1.4rem;
      font-weight: normal;
      color: #B0B0B0;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
      @media (max-width: 991px) {
        .entry__body__text {
          font-size: 18px; } }
      @media (min-width: 768px) {
        .entry__body__text {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
          max-width: 50%; } }
      .entry__body__text p:last-child {
        margin-bottom: 0; }
  .entry .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -3.25rem;
    margin-left: -3.25rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 6.5rem; }
    @media (max-width: 991px) {
      .entry .video {
        margin-top: 13rem; } }
    .entry .video__details {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
      @media (min-width: 768px) {
        .entry .video__details {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
          max-width: 50%; } }
      .entry .video__details .external-link {
        float: right;
        clear: right;
        margin-bottom: 0.5rem; }
        .entry .video__details .external-link a {
          font-size: 1.4rem;
          font-weight: normal;
          color: #B0B0B0; }
          @media (max-width: 991px) {
            .entry .video__details .external-link a {
              font-size: 18px; } }
          .entry .video__details .external-link a:hover {
            color: #aadbff;
            text-decoration: underline; }
    .entry .video__video {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-top: 1.5rem; }
      @media (max-width: 991px) {
        .entry .video__video {
          margin-top: 3rem; } }
      .entry .video__video .aspect-wrapper {
        position: relative;
        width: 100%;
        padding: 0;
        overflow: hidden; }
        .entry .video__video .aspect-wrapper:before {
          display: block;
          content: "";
          padding-top: 56.25%; }
        .entry .video__video .aspect-wrapper iframe {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 0; }
  .entry .song {
    margin-top: 6.5rem; }
    @media (max-width: 991px) {
      .entry .song {
        margin-top: 13rem; } }
    .entry .song__title .button-pause {
      display: none; }
    .entry .song__title .button-loading {
      display: none; }
    .entry .song__title.playing .button-play {
      display: none; }
    .entry .song__title.playing .button-pause {
      display: inline; }
    .entry .song__title.loading .button-play {
      display: none; }
    .entry .song__title.loading .button-loading {
      display: inline; }
    .entry .song__body {
      font-size: 1.4rem;
      font-weight: normal;
      color: #B0B0B0; }
      @media (max-width: 991px) {
        .entry .song__body {
          font-size: 18px; } }
      .entry .song__body p:last-of-type {
        display: inline; }
      @media (max-width: 991px) {
        .entry .song__body {
          margin-top: 3rem; } }
    .entry .song .share {
      margin-top: 3.25rem;
      max-width: 100%; }
      @media (max-width: 991px) {
        .entry .song .share {
          margin-top: 6.5rem; } }
  .entry-404 {
    margin-bottom: -3rem; }
    @media (max-width: 991px) {
      .entry-404 {
        margin-bottom: -6rem; } }

.credits-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.credits {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3.25rem;
  padding-left: 3.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6.5rem; }
  @media (min-width: 992px) {
    .credits {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  @media (max-width: 991px) {
    .credits {
      margin-top: 13rem; } }
  .credits .line, .credits .form--mail .mc-field-group:after, .form--mail .credits .mc-field-group:after {
    margin: 1.5rem 0 1.5rem; }
    .credits .line:first-child, .credits .form--mail .mc-field-group:first-child:after, .form--mail .credits .mc-field-group:first-child:after {
      margin-top: 0; }
  .credits__position-role-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .credits__position {
    width: 50%; }
  .credits__people {
    width: 50%; }
    .credits__people .paragraph {
      padding-left: 2rem; }
      .credits__people .paragraph a {
        color: #aadbff; }
        .credits__people .paragraph a:hover {
          text-decoration: underline; }

.share-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.share {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 3.25rem;
  padding-left: 3.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  margin-top: 6.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991px) {
    .share {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-top: 13rem; } }
  .share--3 {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .share--4 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .share .social-link img {
    width: 6rem; }
    @media (max-width: 991px) {
      .share .social-link img {
        width: 12rem; } }
    .share .social-link img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

.header {
  max-width: 92%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3.25rem;
  padding-left: 3.25rem;
  width: 100%;
  padding-top: 4.6rem;
  margin-bottom: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 576px) {
    .header {
      max-width: 540px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (min-width: 768px) {
    .header {
      max-width: 720px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (min-width: 992px) {
    .header {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (min-width: 1500px) {
    .header {
      max-width: 1500px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      width: 100%; } }
  @media (max-width: 991px) {
    .header {
      margin-bottom: 10rem;
      padding-top: 6rem; } }
  .header__logo img {
    width: 31.6rem; }
  @media (max-width: 767px) {
    .header__logo {
      width: 100%; }
      .header__logo img {
        width: 100%; } }
  .header .nav {
    padding-left: 0;
    margin: 0; }
    .header .nav .nav-logo {
      display: none; }
    .header .nav__item {
      display: inline-block; }
      .header .nav__item .link {
        font-size: 1.4rem;
        font-weight: normal;
        color: #B0B0B0;
        margin-right: 3.5rem; }
        @media (max-width: 991px) {
          .header .nav__item .link {
            font-size: 18px; } }
        .header .nav__item .link:hover {
          color: #aadbff;
          text-decoration: underline; }
        .header .nav__item .link--active {
          color: #aadbff;
          font-weight: bold; }
  .header .mobile-nav-button {
    display: none; }
  @media (max-width: 767px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .header .mobile-nav-button {
        display: block;
        position: fixed;
        z-index: 2;
        right: 0;
        bottom: 0;
        margin: 0 4% 4% 0;
        width: 16rem;
        height: 16rem;
        cursor: pointer;
        background: url("8a6133817010b34a8de812238120ae28-1650.png") no-repeat;
        background-position: 0 0;
        background-size: cover; }
        .header .mobile-nav-button--closed {
          background-position: 0% 0;
          -webkit-animation: navToggle 0.4s steps(10) 1 reverse backwards;
                  animation: navToggle 0.4s steps(10) 1 reverse backwards; }
        .header .mobile-nav-button--open {
          background-position: 100% 0;
          -webkit-animation: navToggle 0.4s steps(10) 1 normal forwards;
                  animation: navToggle 0.4s steps(10) 1 normal forwards; }
    @-webkit-keyframes navToggle {
      from {
        background-position: 0% 0; }
      to {
        background-position: 100% 0; } }
    @keyframes navToggle {
      from {
        background-position: 0% 0; }
      to {
        background-position: 100% 0; } }
      .header .nav {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.96);
        background-image: url("50bee3b03b455086ca40136811132261-91.png"), url("154bb847e1f7a989e1d792e7f10eb41e-97.png"), url("a86112faa25b76b2df1306f0aa708e1d-84.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 10% 11%, 80% 55%, 20% 80%;
        background-size: 10%;
        text-align: center;
        padding: 4.6rem 7.2rem; }
        .header .nav--show {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .header .nav__item {
          display: block; }
        .header .nav .link, .header .nav .search {
          font-family: 'sweetness';
          color: #111111;
          line-height: 11rem;
          font-size: 11rem;
          text-transform: uppercase;
          text-align: center; }
        .header .nav .search {
          margin-top: -3rem;
          background: url("d55fb0a0140b90cca116819ddfccf02b-1458.png") no-repeat bottom;
          background-size: 64% 11%; } }

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.25rem;
  margin-left: -3.25rem; }
  .song__image {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    @media (min-width: 768px) {
      .song__image {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
    .song__image img {
      max-width: 100%;
      height: auto; }
  .song__details {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
    @media (max-width: 991px) {
      .song__details {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-top: 6.5rem; } }

.socials {
  text-align: center; }
  .socials__icon-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .socials .social-link {
    margin-top: 6.5rem; }
    @media (max-width: 991px) {
      .socials .social-link {
        margin-top: 13rem; } }
    .socials .social-link__icon {
      width: 7rem;
      height: 7rem; }
      .socials .social-link__icon:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    @media (max-width: 991px) {
      .socials .social-link {
        width: 33%; }
        .socials .social-link__icon {
          width: 16rem;
          height: 16rem; } }
